<h2>fan/destroy</h2>

<% if @oauth %>
    <% form_tag do %>
        login (of channel to unfan): <%= text_field_tag "login" %><br>
        serialization method: <br>
        xml: <%= radio_button_tag 'serialization_method', 'xml' %>
        json: <%= radio_button_tag 'serialization_method', 'json' %>
        <%= submit_tag 'Unfan Channel' %>
    <% end %>
<% else %>
    <%= render :partial => "main/authorize" %>
<% end %>

<%= render :partial => "main/results" %>