<h2>clip/embed</h2>

<% form_tag do %>
    id: <%= text_field_tag 'id', params[:id] %> <br>
    width: <%= text_field_tag 'width', params[:width] %> <br>
    height: <%= text_field_tag 'height', params[:height] %> <br>
    volume: <%= text_field_tag 'volume', params[:volume] %> <br>
    <%= hidden_field_tag 'serialization_method', 'html' %>
    <%= submit_tag 'Show Embed Code' %>
<% end %>

<%= render :partial => "main/results" %>