<h2>event/destroy</h2>

<% if @oauth %>
    <% form_tag do %>
        id: <%= text_field_tag "id", params[:id] %><br>
        serialization method: <br>
        xml: <%= radio_button_tag 'serialization_method', 'xml' %>
        json: <%= radio_button_tag 'serialization_method', 'json' %>
        <%= submit_tag 'Destroy Event' %>
    <% end %>
<% else %>
    <%= render :partial => "main/authorize" %>
<% end %>

<%= render :partial => "main/results" %>